/* 字体 */
/* @font-face{
    font-family: 'OPPOSans-by-宁静之雨';
    
    src: url('/font/OPPOSans.ttf') format("truetype");
}

body {
    font-family: 'OPPOSans-by-宁静之雨';
}  */
/* @font-face{
  font-family: 'SentySnowMountain';
  
  src: url('/font/SentySnowMountain.woff2') format("truetype");
}

body {
  font-family: 'SentySnowMountain';
}  */


/* 主题背景透明度 */
/* 文章页背景 */
.layout_post>#post {
  /* 以下代表透明度为0.5 可以自行修改*/
  background: rgba(255,255,255,.8);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表透明度为0.5 */
  background: rgba(255,255,255,.8);
}
/*侧边卡片的透明度 */
:root {
--card-bg: rgba(255, 255, 255, .8);
}

/* 让小风车转起来 */
/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 1.6s linear infinite ;
  animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}
@keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}
/*想调整风车转动速度，修改以下内容里的时间，数字越小转动越快。*/
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  -webkit-animation: ccc 1.6s linear infinite ;
  animation: ccc 1.6s linear infinite ;
}
/*
以下代码中，-1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改：
*/
@-webkit-keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}
@keyframes ccc {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(-1turn);
      transform: rotate(-1turn)
  }
}